.classs{
	width: 90px;
	height: 20px;
	color: #666666;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid gray;
}
.classslct{
	width: 90px;
	height: 20px;
	color: #666666;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid gray;
}
.classinput{
	width: 150px;
	height: 70px;
	color: #666666;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid gray;
}
.classs1{
	width: 70px;
	height: 20px;
	color: #666666;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid gray;
}
